@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Montserrat:ital@1&display=swap");

header {
  background-color: #3e3010;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding: 15px 30px;

}

.header-list {
  list-style: none;
  font-size: 20px;
  display: flex;
  padding-top: 80px;
 

}

.header-list li {
  margin-left: 30px;
  color: #ef8f3d;
  font-weight: bold;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.header-nav img {
  width: 170px;
  border-radius: 80px;
  margin: 0px;
}

.submit {
  cursor: pointer;
  border-radius: 54px;
  padding:10px;
  background-color:white;
  text-decoration: none;

}

.header-list li a{
  text-decoration: none;
  color:rgb(198, 190, 190);
}