footer {
  background: rgb(223, 179, 98);
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-article {
  display: flex;
 justify-content: space-around;
 width: 100vw;
}
.footer-list {
  display: flex;
  margin-left: -50px;
}
.footer-list li {
  list-style: none;
  font-size: 20px;
  margin: 10px;
}

.footer-list li i {
  margin: 15px auto;
}

.copy-rights {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: center;
}
.feedback{
  align-self: center;
}